[*.cs]
csharp_style_namespace_declarations = file_scoped:warning

# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = silent

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = silent

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = silent

# CA5350: Do Not Use Weak Cryptographic Algorithms
dotnet_diagnostic.CA5350.severity = silent

# CA1711: Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1711.severity = silent

# CA2201: Do not raise reserved exception types
dotnet_diagnostic.CA2201.severity = silent

# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity = silent

# CA1712: Do not prefix enum values with type name
dotnet_diagnostic.CA1712.severity = silent

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = silent

# CA1304: Specify CultureInfo
dotnet_diagnostic.CA1304.severity = silent

# CA1311: Specify a culture or use an invariant version
dotnet_diagnostic.CA1311.severity = silent

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = silent

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = silent

# CA1873 Evaluation of this argument may be expensive and unnecessary if logging is disabled
dotnet_diagnostic.CA1848.severity = silent
dotnet_diagnostic.CA1873.severity = silent